# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.v2
*.suo
*.xcf
/src/Tide.XMLSchema/bin
/src/Tide.XMLSchema/obj
/src/Tide.Core/bin
/src/Tide.Core/obj
/src/.vs
.vs
.cache

/src/Tide.Tools/bin
/src/Tide.Tools/obj
/src/Tide.Reflection/obj
/src/Tide.Reflection/bin
/src/Tide.Editor/obj
/src/Tide.Editor/bin
/src/Tide.Editor/Content/obj
/src/Tide.Editor/Content/bin
*.xnb
